.search-button{
    border: 1px solid;
    background: rgb(71, 71, 235);
    width: 10rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.view-agency-button{
    border: 1px solid;
    background-color: green;
    width: 10rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.send-alert-button{
    border: 1px solid;
    background-color: red;
    width: 10rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}